@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');

html,
body {
  /* background: #007bff;  */
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
}

.navbar {
  background: linear-gradient(90deg, #0263cc 0%, #027cff 30%, #027cff 60%, #0263cc 90%);
  /* background: #0264cc4b; */
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.8);
  border: solid .05px rgba(255, 255, 255, 0.26);
  height: 4em;
  margin-top: 0;
}

.logo {
  width: 28%;
  height: 20%;
  position: relative;
  bottom: 12px;
  padding: 5px;
  left: 2px;
  filter: drop-shadow(2px 0 2px rgb(63, 63, 63));
}

#contact {
  font-family: 'Orbitron', sans-serif;
  font-size: medium;
  color: white;
  display: flex;
  float: right;
  position: relative;
  bottom: 12px;
  margin-right: 15px;
  border: .1px rgba(255, 255, 255, 0.466) solid;
  border-radius: 5px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.26);
  margin-top: 0px;
}

@media (max-width: 768px) {
  #nav {
    width: 60%;
  }

  .logo {
    width: 25%;
    height: 16%;
    bottom: 8px;
  }

  .contact {
    font-size: small;
    bottom: 6px;
    float: left;
  }
}

@media (max-width:425px) {
  .navbar {
    height: 2.5em;
  }

  .logo {
    left: 0px;
    width: 40%;
    height: 20%;
    bottom: 8px;
  }

  #contact {
    float: inline-end;
    font-size: small;
    bottom: 8px;
    right: 20px;
    padding: 4px;
  }
}

@media (max-width:320px) {
  #contact {
    font-size: xx-small;
    right: 0px;
    left: 0px;
  }
}

.containerone {
  width: 100vw;
}

.first {
  /* background: #007bff; */
  /* background: #0264cc33; */
  background: rgba(255, 192, 252, 0.116);
  /* background: linear-gradient(90deg, #0263cc 0%, #027cff 30%, #027cff 60%, #0263cc 90%); */
  /* background: #4e54c8;   */
  /* background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);   */
  width: 100%;
  height: 100vh;
  color: #000;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  /* background: rgba(255, 255, 255, 0.2); */
  /* background: linear-gradient(315deg, #0263cc 0%, #027cff 30%, #027cff 60%, #0263cc 90%);; */
  background: linear-gradient(315deg, #0263bb 0%, #027cff 40%, #0263bb 60%);
  animation: animate 25s linear infinite;
  bottom: -150px;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.8);
  border: solid .05px rgba(214, 74, 74, 0.26);

}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}

.firstfirst {
  position: relative;
  z-index: 10;
  /* padding: .4em; */
  /* margin: 1em 1.8em; */
  width: 100%;
}

#firstimg {
  margin-bottom: 10px;
}

.firstfirst hr {
  position: relative;
  left: 6%;
  /* width: 40%; */
}

.firstfirst h2 {
  font-family: 'Orbitron', sans-serif;
  font-size: 3em;
  text-align: center;
}

.firstfirst p {
  font-family: 'Orbitron', sans-serif;
  font-size: .8em;
  text-align: justify;
  left: 2%;
  line-height: 1.3em;
}

#ffpadding {
  padding: 20px;
}

.ff {
  position: relative;
  z-index: 10;
  padding: .7em;
  margin-top: 2em;
  border: rgba(255, 255, 255, 0.2) solid .5px;
  border-radius: 3em;
  background: rgba(135, 170, 247, 0.37);
  /* width: 40%; */
  top: 18%;
  left: 7%;
}

.fs {
  z-index: 10;
  padding: 2em;
  border: rgba(255, 255, 255, 0.2) solid .5px;
  border-radius: 3em;
  background: rgba(135, 170, 247, 0.37);
  text-align: justify;
  width: 100%;
  top: 18%;
  font-size: .7em;
  line-height: 1.3em;
  font-family: 'Orbitron', sans-serif;
  font-weight: bolder;
}

#firstbutton {
  border-radius: 4px;
  margin-left: 35%;
  padding: .5em;
  font-family: 'Orbitron', sans-serif;
  background: #027cff20;
}

#firstlottie {
  width: 2500px;
  height: 600px;
  position: relative;
  bottom: 100px;
  right: 900px;
  animation: lottie 20s infinite ease;
}

@keyframes lottie {
  0% {
    bottom: 80px;
  }

  50% {
    bottom: 50px;
  }

  100% {
    bottom: 65px;
  }
}

@media (max-width:768px) {
  .firstfirst {
    left: 30px;
  }

  .firstfirst h2 {
    font-size: 1.7em;
  }

  .firstfirst hr {
    margin: 4px;
  }

  .firstfirst p {
    font-size: .6em;
    color: black;
  }

  .ff {
    margin-top: 10px;
  }

  .fs {
    font-size: .6em;
  }

  #firstbutton {
    font-size: small;
  }

  #firstimg {
    right: 50px;
  }

  #firstlottie {
    width: 500px;
    height: 400px;
    left: -60px;
    top: 10px;
  }
}

@media (max-width:425px) {

  .ff {
    top: 4%;
    width: 80%;
    font-size: .8em;
  }

  .firstfirst h2 {
    font-size: 1.2em;
  }

  #firstbutton {
    font-size: smaller;
  }

  #firstlottie {
    display: none;
  }
}

#social-sidebar {
  list-style: none;
  left: 0;
  position: fixed;
  top: 40%;
  z-index: 99;
  /* margin-left: 10px; */
  text-decoration: none;
}

#social-sidebar li:first-child a {
  border-top-right-radius: 5px;
}

#social-sidebar li:last-child a {
  border-bottom-right-radius: 5px;
}

#social-sidebar button {
  /* background: rgb(37, 8, 165); */
  color: black;
  text-decoration: none;
  height: 45px;
  width: 50px;
  font-size: 40px;
  line-height: 30px;
  /* position: relative; */
  cursor: pointer;
  border: none;
  border-radius: 14px;
}

#social-sidebar button:hover span {
  left: 120%;
  opacity: 1;
}

#social-sidebar .bi {
  display: flex;
  border-radius: 14px;
}

#social-sidebar button span {
  /* font: 12px "Open Sans", sans-serif; */
  font-size: medium;
  color: black;
  text-transform: uppercase;
  border-radius: 3px;
  /* line-height: 24px; */
  left: -100%;
  /* margin-top: -24px;  */
  opacity: 0;
  padding: 4px 8px;
  transition: opacity .3s, left .4s;
  top: 50%;
  z-index: 100;
  display: inline-block;
}

#social-sidebar button span:before {
  content: "";
  /* display: block; */
  width: 40px;
  /* left: 40px; 
    margin-top: -4px; */
  top: 50%;
  transform: rotate(45deg);
}

#social-sidebar button[class*="bi bi-signpost-split-fill"]:before,
#social-sidebar button[class*="bi bi-people-fill"]:before,
#social-sidebar button[class*="bi bi-pin-angle-fill"]:before {
  background: linear-gradient(45deg, #0262bb75 0%, #027cff75 40%, #0263bb75 60%);
  /* border: solid 1px black; */
  box-shadow: 4px 4px rgba(0, 0, 0, 0.8);
  text-decoration: none;
  border-radius: 10px;
  padding: 2px;
}

#social-sidebar button[class*="bi bi-signpost-split-fill"]:hover,
#social-sidebar button[class*="bi bi-signpost-split-fill"] span,
#social-sidebar button[class*="bi bi-signpost-split-fill"] span:before {
  color: black;
  background: #027cff55;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.8);
  font-weight: bold;
}

#social-sidebar button[class*="bi bi-people-fill"]:hover,
#social-sidebar button[class*="bi bi-people-fill"] span,
#social-sidebar button[class*="bi bi-people-fill"] span:before {
  color: black;
  background: #027cff55;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.8);
  font-weight: bold;
}

#social-sidebar button[class*="bi bi-pin-angle-fill"]:hover,
#social-sidebar button[class*="bi bi-pin-angle-fill"] span,
#social-sidebar button[class*="bi bi-pin-angle-fill"] span:before {
  color: black;
  background: #027cff55;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.8);
  font-weight: bold;
}


@media (max-width: 768px) {
  #social-sidebar {
    background: #027cff55;
  }

  #social-sidebar button {
    font-size: x-large;
    background: transparent;
  }

  #social-sidebar button[class*="bi bi-signpost-split-fill"]:hover,
  #social-sidebar button[class*="bi bi-signpost-split-fill"] span,
  #social-sidebar button[class*="bi bi-signpost-split-fill"] span:before,
  #social-sidebar button[class*="bi bi-people-fill"]:hover,
  #social-sidebar button[class*="bi bi-people-fill"] span,
  #social-sidebar button[class*="bi bi-people-fill"] span:before,
  #social-sidebar button[class*="bi bi-pin-angle-fill"]:hover,
  #social-sidebar button[class*="bi bi-pin-angle-fill"] span,
  #social-sidebar button[class*="bi bi-pin-angle-fill"] span:before {
    width: fit-content;
    font-size: x-small;
    background: transparent;
    box-shadow: none;
    bottom: 2px;
  }
}

/* services */
#second {
  margin-top: -65px;
  padding: 0%;
  display: block;
  height: fit-content;
  align-items: center;
  /* background: linear-gradient(90deg,#e52e71,#ff8a00); */
  background: linear-gradient(-45deg, #23d5ab, #23a6d5, #e73c7e, #ee7752);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#second h1 {
  /* display: table;
	margin: 5% auto 0; */
  left: 50%;
  padding: 20px;
  text-transform: uppercase;
  font-size: 1.8em;
  /* text-shadow: 0 1px white, 0 2px black; */
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

/* #second p{
    text-align: justify;
    width :50vw;
    margin:10px;
    padding: 4px;
} */
#sec {
  position: relative;
  display: flex;
  margin: auto;
}

#card {
  width: 100%;
  margin: auto;
  display: flex;
  /* flex-wrap: wrap; */
  /* align-items: center;
  justify-content: center; */
  font-family: 'Orbitron', sans-serif;
}

h3 {
  color: #262626;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666666;
  text-align: justify;
}

p.small {
  font-size: 14px;
  text-align: justify;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #000000;
  border-radius: 0 4px 0 32px;
  text-align: justify;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card1 {
  display: block;
  position: relative;
  /* max-width: 262px; */
  height: 250px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  /* margin: 12px; */
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  text-align: justify;
}

.card1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #000000cc;
  height: 42px;
  width: 42px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
  text-align: justify;
}

.card1:hover {
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -2px;
  border: .5px solid #cccccc7a;
}

.card1:hover:before {
  transform: scale(21);
}

.card1:hover p {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.card1:hover h3 {
  transition: all 0.3s ease-out;
  color: #fff;
}

@media (max-width: 768px) {
  #card {
    padding: 15px;
    font-size: small;
  }

  .card1 {
    margin-bottom: 10px;
  }

  .card1:hover:before {
    width: 80px;
  }
}

/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
#facts {
  margin-top: -100px;
}

#fact h1 {
  left: 50%;
  padding: 20px;
  text-transform: uppercase;
  font-size: 1.8em;
  /* text-shadow: 0 1px white, 0 2px black; */
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

#counter-stats {
  display: flex;
  justify-content: center;
  /* margin-top: 100px; */
  height: fit-content;
}

.stats {
  text-align: center;
  font-size: 1em;
  font-weight: 700;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Orbitron', sans-serif;
  line-height: 1.5em;
}

#facticon {
  font-size: 35px;
}

#fact {
  background-color: #0262bb49;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #003298;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  -webkit-animation: cube 12s ease-in forwards infinite;
  animation: cube 12s ease-in forwards infinite;
}

.cube:nth-child(2n) {
  border-color: #0051f4;
}

.cube:nth-child(2) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}

.cube:nth-child(3) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}

.cube:nth-child(4) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}

.cube:nth-child(5) {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}

.cube:nth-child(6) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}

@-webkit-keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }

  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }

  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

.imageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  perspective: 600px;
}

.image {
  box-shadow: 3px 3px 12px #141414, 0 0 200px rgba(0, 0, 0, 0.9) inset;
  width: 200px;
  transition: all 0.72s;
  cursor: pointer;
  border-radius: 6px;
  width: 270px;
  height: 180px;
  background-size: cover;
  background-position: center;
  position: relative;
  perspective: 500px;
}

.a {
  transform: rotateY(42deg);
  background-image: url(/Assets/other/content1.svg);
}

.b {
  transform: translateZ(-70px);
  background-image: url(/Assets/other/content2.svg);
}

.c {
  transform: rotateY(-42deg);
  background-image: url(/Assets/other/content3.svg);
  filter: brightness(100%);
}

.activeA {
  box-shadow: 3px 3px 12px #141414;
  transform: translateX(100%) translateZ(200px);
  z-index: 2;
  /* border: 1px solid white; */
  border-radius: 12px;
}

.activeB {
  box-shadow: 3px 3px 12px #141414;
  transform: translateZ(200px);
  z-index: 2;
  /* border: 1px solid white; */
  border-radius: 12px;
}

.activeC {
  box-shadow: 3px 3px 12px #141414;
  transform: translateX(-100%) translateZ(200px);
  z-index: 2;
  /* border: 1px solid white; */
  border-radius: 12px;
}


/* testimonials */

#testimonials {
  background-color: #f4f4f4;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  height: 70vh;
  overflow: hidden;
  /* margin: 0; */
  /* padding: 10px; */
}

.cubecontain {
  position: relative;
  height: 100%;
  /* overflow: hidden; */
}

.contain {
  height: 100px;
  position: relative;
}

#testimonials h1 {
  padding: 10px;
  left: 50%;
  font-size: 1.8em;
  /* text-shadow: 0 1px white, 0 2px black; */
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

#testimonials h3 {
  padding: 10px;
  left: 50%;
  /* text-shadow: 0 1px white, 0 2px black; */
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.2em;
}

.testimonial-container {
  background-color: #0262bb5d;
  color: #fff;
  border-radius: 15px;
  margin: 5px auto;
  padding: 20px 40px;
  max-width: 768px;
  position: relative;
}

.bi-chat-left-quote {
  color: rgba(255, 255, 255, 0.3);
  font-size: 28px;
  /* position: absolute; */
  top: 80px;
}

.bi-chat-left-quote {
  left: 40px;
  font-family: 'Orbitron', sans-serif;
  color: #000;
}

.testimonial {
  font-family: 'Orbitron', sans-serif;
  line-height: 24px;
  text-align: justify;
  color: black;
  font-size: small;
}

.user {
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user .user-image {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  object-fit: cover;
}

.user .user-details {
  margin-left: 10px;
  font-family: 'Orbitron', sans-serif;
  color: #000;
}

.user .username {
  margin: 0;
}

.user .role {
  font-weight: normal;
  margin: 10px 0;
  font-family: 'Orbitron', sans-serif;
  font-size: small;
  color: #000;
}

.progress-bar {
  /* background-color: #000; */
  height: 4px;
  width: 100%;
  transform-origin: left;
  animation: grow 10s linear infinite;
}

@keyframes grow {
  0% {
    transform: scaleX(0);
    color: white;
  }
}

#secondlottie {
  position: relative;
  width: 600px;
  height: 600px;
  bottom: 180px;
  right: 30px;
}

@media (max-width: 768px) {
  #testimonials h1 {
    font-size: 1.2em;
  }

  #testimonials h3 {
    font-size: 0.8em;
  }

  .testimonial-container {
    padding: 20px 30px;
  }

  .bi-chat-left-quote {
    display: none;
    font-family: 'Orbitron', sans-serif;
    color: #000;
  }

  .testimonial {
    font-size: x-small;
    line-height: 18px;
    padding: 5px;
    width: fit-content;
  }

  .user,
  .user .role {
    font-size: x-small;
  }

  .user .user-image {
    height: 50px;
    width: 50px;
  }

  #secondlottie {
    width: 400px;
    height: 400px;
    bottom: 100px;
    right: 30px;
  }
}

@media (max-width: 425px) {
  #testimonials {
    height: 90vh;
  }

  #testimonials h1 {
    font-size: 1.2em;
  }

  #testimonials h3 {
    font-size: 0.8em;
  }

  #test {
    position: relative;
    bottom: 170px;
    left: 30px;
    width: fit-content;
  }

  .testimonial-container {
    top: 230px;
    width: 250px;
    padding: 10px 10px;
    right: 80px;
  }

  .bi-chat-left-quote {
    display: none;
    font-family: 'Orbitron', sans-serif;
    color: #000;
  }

  .testimonial {
    font-size: xx-small;
    line-height: 18px;
    padding: 5px;
    width: fit-content;
  }

  .user,
  .user .role {
    font-size: x-small;
  }

  .user .user-image {
    height: 50px;
    width: 50px;
  }

  #secondlottie {
    width: 300px;
    height: 300px;
    bottom: 120px;
    left: 45px;
  }
}


/* faq */
#faq {
  width: 100%;
  height: 100%;
  background-color: #0262bb49;
  /* background-image: radial-gradient(at 300px 300px, rgba(159,0,191,.9) 0, #4D4FA7 70%); */
}

#faq .faqq {
  /* width: 120vw; */
  width: 100%;
  height: 100%;
  /* background:linear-gradient(hsl(273,75%,66%), hsl(240, 73%,65%)); */
  /* padding:130px 0; */
  font-family: 'Orbitron', sans-serif;
}

#faq .faqqfaqq {
  width: 65%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.651);
  border-radius: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding:0 15px 0px 15px; */
}

#faq .img {
  /* width:200px; */
  position: relative;
  /* top: -90px;; */
  margin: auto;
  /* filter: drop-shadow(0 25px 0px #E1D6F6); */
}

#faq .headd {
  text-align: center;
  /* color: hsl(238,29%, 16%); */
  font-size: 25px;
  font-weight: 700;
  font-family: 'Orbitron', sans-serif;
  color: black;
}

#faq .itemq {
  /* color:hsl(237,12%, 33%); */
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  margin: 0 10px;
  /* padding:20px 120px; */
  font-family: 'Orbitron', sans-serif;
  color: black;
}

#faq .itemqactive {
  /* color:hsl(240,6%, 50%); */
  line-height: 17px;
  /* padding-bottom:20px; */
  position: relative;
  top: -20px;
  color: black;
  opacity: 0;
  transition: top 1s, opacity 1s;
  z-index: 1;
}

#faq .lista {
  list-style: none;

}

#faq .item_header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;

}

#faq .item {
  border-bottom: 1px solid #E6E6E9;
  width: 60%;
  margin: auto;
  padding: 2px;
}

#faq .icon {
  /* color: hsl(14,88%,65%); */
  color: black;
  transition: transform 1s;
}

#faq li {
  height: 54px;
  overflow: hidden;
  transition: all 1s;

}

#faq .active>.item_header>.itemq {
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
}

#faq .active>.item_header>.icon {
  transform: rotate(180deg);

}

#faq .active>.itemqactive {
  opacity: 1;
  top: 0;
  font-family: 'Orbitron', sans-serif;
  color: rgb(63, 61, 61);
  margin: auto;
  padding: 0 60px;
  left: 40px;
}

@media (max-width: 425px) {
  #faq .itemqactive {
    font-size: x-small;
  }

  #faq .active>.itemqactive {
    left: 10px;
    padding: 0%;
  }
}

/* #foot */
footer {
  /* position: fixed; */
  background: rgb(0, 0, 0);
  height: fit-content;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer .content {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: .1em;
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px 40px 40px;
}

footer .content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.content .top .logo-details {
  color: #fff;
  font-size: 30px;
}

.content .top .media-icons {
  display: flex;
}

.content .top .media-icons a {
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}

.top .media-icons a:nth-child(1) {
  background: #4267B2;
}

.top .media-icons a:nth-child(1):hover {
  color: #4267B2;
  background: #fff;
}

.top .media-icons a:nth-child(2) {
  background: #1DA1F2;
}

.top .media-icons a:nth-child(2):hover {
  color: #1DA1F2;
  background: #fff;
}

.top .media-icons a:nth-child(3) {
  background: #E1306C;
}

.top .media-icons a:nth-child(3):hover {
  color: #E1306C;
  background: #fff;
}

.top .media-icons a:nth-child(4) {
  background: #0077B5;
}

.top .media-icons a:nth-child(4):hover {
  color: #0077B5;
  background: #fff;
}

.top .media-icons a:nth-child(5) {
  background: #FF0000;
}

.top .media-icons a:nth-child(5):hover {
  color: #FF0000;
  background: #fff;
}

footer .content .link-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer .content .link-boxes .box {
  width: calc(100% / 5 - 10px);
}

.content .link-boxes .box .link_name {
  color: #fff;
  /* font-size: 18px; */
  font-size: 0.8em;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}

.link-boxes .box .link_name::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}

.content .link-boxes .box li {
  margin: 6px 0;
  list-style: none;
}

.content .link-boxes .box li a {
  color: #fff;
  /* font-size: 14px; */
  font-size: 0.6em;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}

.content .link-boxes .box li a:hover {
  opacity: 1;
  text-decoration: underline;
}

/* .content .link-boxes .input-box{
    margin-right: 55px;
  }
  .link-boxes .input-box input{
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #AFAFB6;
    background: #140B5C;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
  }
  .link-boxes .input-box input::placeholder{
    color: #AFAFB6;
    font-size: 16px;
  }
  .link-boxes .input-box input[type="button"]{
    background: #fff;
    color: #140B5C;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .input-box input[type="button"]:hover{
    opacity: 1;
  } */
footer .bottom-details {
  width: 100%;
  background: #2c303a;
}

footer .bottom-details .bottom_text {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}

.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
}

.bottom-details .bottom_text a {
  margin-right: 10px;
}

@media (max-width: 900px) {
  footer .content .link-boxes {
    flex-wrap: wrap;
  }

  footer .content .link-boxes .input-box {
    width: 40%;
    margin-top: 10px;
  }
}

@media (max-width: 700px) {
  footer {
    position: relative;
  }

  .content .top .logo-details {
    font-size: 26px;
  }

  .content .top .media-icons a {
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }

  footer .content .link-boxes .box {
    width: calc(100% / 3 - 10px);
  }

  footer .content .link-boxes .input-box {
    width: 60%;
  }

  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 12px;
  }
}

@media (max-width: 520px) {
  footer::before {
    top: 145px;
  }

  footer .content .top {
    flex-direction: column;
  }

  .content .top .media-icons {
    margin-top: 16px;
  }

  footer .content .link-boxes .box {
    width: calc(100% / 2 - 10px);
  }

  footer .content .link-boxes .input-box {
    width: 100%;
  }
}