@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');

html, body {
    height: 100vh;
    overflow-x: hidden;
  }
html {
  font-family: 'Orbitron', sans-serif;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    line-height: 1.4;
  }
body{
    height: 100%;
    margin: 0;
    background-color: #eeeeee;
    font-family: 'Orbitron', sans-serif;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
.navbar .nav{
  font-family: 'Orbitron', sans-serif;
}
.heading{
  font-family: 'Orbitron', sans-serif;
    text-align: center;
    color:rgb(68, 68, 68);
    font-size: 20px;
}
.logo {
  width: 28%;
  height: 20%;
  position: relative;
  bottom: 12px;
  padding: 5px;
  left: 2px;
  filter: drop-shadow(2px 0 2px rgb(63, 63, 63));
}
.rpara{
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: .3em;
    color: rgb(122, 122, 122);
    font-family: 'Orbitron', sans-serif;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
.domain p{
  font-weight: 500;
}
.para{
    font-size: 100%;
}
.img-container{
    text-align: center;
   
}
.img-container img{
  width: 50%;
}

.img-container1{
  text-align: center;
 
}
.img-container1 img{
width: 150%;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 520px){
  .img{
    width: 400px;
}
}
.img{
    width: 600px;
}
.domainwrapper{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Orbitron', sans-serif;
    font-size: smaller;
}
.section{
    margin-top: 6rem;
}

#front{
    background-image: url("img/front.png");
}
#back{
    background-image: url("img/back.png");
}
#app{
    background-image: url("img/app.png");
}
  
#competitive{
    background-image: url("img/competitive.png");
}
#cyber{
    background-image: url("img/cyber.png");
}
#cloud{
    background-image: url("img/cloud.png");
}
#aiml{
    background-image: url("img/aiml.png");
}
#blockchain{
    background-image: url("img/blockchain.png");
}
#arvr{
    background-image: url("img/arvr.png");
}
#iot{
    background-image: url("img/iot.png");
}
#devops{
    background-image: url("img/devops.png");
}
#datascience{
    background-image: url("img/datascience.png");
}
.know-more{
background-color: #2e5dab;
padding: 0.6rem 1.3rem;
color: #f7f7f7;
transition:all 0.3s;
cursor: pointer;
border-radius: 0.3rem;
text-decoration: none;
}
.know-more:hover{
    background-color: #21437a;
    color: #f7f7f7;
    text-decoration: none;
    
}
.detail{
  width: 500px;
}
.domain{
    background-color:#f7f7f7 ;
    margin: 30px 10px;
    border-radius: 1rem;
    transition: all 0.5s;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: -1px 1px 11px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 1px 11px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 11px -2px rgba(0,0,0,0.75);
}
.domain:hover{
    box-shadow: -3px 0px 26px -1px rgba(118,118,118,0.75);
    -webkit-box-shadow: -3px 0px 26px -1px rgba(118,118,118,0.75);
    -moz-box-shadow: -3px 0px 26px -1px rgba(118,118,118,0.75);
}

:root {
    --headerOpacity: 1;
    --headerScale: 1;
  }
  
  .video-header {
    position: absolute;
    text-align: center;
    width: 100vw;
    height: 100vh;
  }
  .video-header, .video-header video, .video-header .viewport-header {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }
  .video-header video {
    background: brown;
    object-fit: cover;
  }
  .video-header .viewport-header {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    opacity: var(--headerOpacity);
    transform: scale(var(--headerScale));
  }
  
  
  
  .h1 {
    /* font-family: "Syncopate", sans-serif; */
    font-family: 'Orbitron', sans-serif;
    color: rgb(41, 41, 41);
    text-transform: uppercase;
    letter-spacing: 3vw;
    line-height: 1.2;
    font-size: 2vw;
    /* font-size: smaller; */
    text-align: center;
  }
  .h1 span {
    display: block;
    font-size: 10vw;
    /* font-size: medium; */
    letter-spacing: -1.3vw;
  }
  
  main {
    background: rgb(255, 255, 255,0.9) ;
    position: relative;
    padding: 1rem;
    margin-top: 100vh;
  }
  main::before {
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    top: -100vh;
  }
  main p {
    max-width: 800px;
  }

 

  .resource a , .resource , .resource a:hover{
    font-size: 15px;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(122, 122, 122);
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Orbitron', sans-serif;
  } 
 
  .resource a:hover{
    text-decoration: underline;
    text-shadow: 2px 2px 6px rgba(175, 175, 175, 0.65);
    transform: translateX(10px);
  }

.resource-para{
  font-size: 1.5em;
  color: #21437a;
}
.img-resource{
  margin-top: 10px;
  width: 100%; 
  border-radius: 20px;
}
  .img-roadmap{
   
    width: 100%;
    margin: 30px 0px;
    border-radius: 10px;
    box-shadow: -3px 0px 26px -1px rgba(118,118,118,0.75);
    -webkit-box-shadow: -3px 0px 26px -1px rgba(118,118,118,0.75);
    -moz-box-shadow: -3px 0px 26px -1px rgba(118,118,118,0.75);
  }
  /* navbar */
  .navbar{
    background: linear-gradient(90deg, #0263cc 0%, #027cff 30%, #027cff 60%, #0263cc 90%);
   /* background: #0264cc4b; */
   box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.8) ;
   border: solid .05px rgba(255, 255, 255, 0.26) ;
   top: 0;
   left: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   
   border: 50px;
 }
 .navbar-logo{
   padding: 5px;
   color: #fff;
 }
 .navbar-mainbg{
   background-color: #5161ce;
   padding: 0px;
 }
 #navbarSupportedContent{
   overflow: hidden;
   position: relative;
 }
 #navbarSupportedContent ul{
   padding: 0px;
   margin: 0px;
 }
 #navbarSupportedContent ul li a i{
   margin-right: 10px;
 }
 #navbarSupportedContent li {
   list-style-type: none;
   float: left;
 }
 #navbarSupportedContent ul li a{
   color: rgba(255,255,255,255);
     text-decoration: none;
     font-size: 20px;
     display: block;
     padding: 20px 20px;
     transition-duration:0.6s;
   transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
     position: relative;
 }
 #navbarSupportedContent>ul>li.active>a{
   color: #5161ce;
   background-color: transparent;
   transition: all 0.7s;
 }
 #navbarSupportedContent a:not(:only-child):after {
   content: "\f105";
   position: absolute;
   right: 20px;
   top: 10px;
   font-size: 8px;
   font-family: "Font Awesome 5 Free";
   display: inline-block;
   padding-right: 3px;
   vertical-align: middle;
   font-weight: 900;
   transition: 0.5s;
 }
 #navbarSupportedContent .active>a:not(:only-child):after {
   transform: rotate(90deg);
 }
 .hori-selector{
   display:inline-block;
   position:absolute;
   height: 100%;
   top: 0px;
   left: 0px;
   transition-duration:0.6s;
   transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
   background-color: #fff;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   margin-top: 10px;
 }
 .hori-selector .right,
 .hori-selector .left{
   position: absolute;
   width: 25px;
   height: 25px;
   background-color: #fff;
   bottom: 10px;
 }
 .hori-selector .right{
   right: -25px;
 }
 .hori-selector .left{
   left: -25px;
 }
 .hori-selector .right:before,
 .hori-selector .left:before{
   content: '';
     position: absolute;
     width: 50px;
     height: 50px;
     border-radius: 50%;
     background-color: #5161ce;
 }
 .hori-selector .right:before{
   bottom: 0;
     right: -25px;
 }
 .hori-selector .left:before{
   bottom: 0;
     left: -25px;
 }
 
 
 @media(min-width: 992px){
   .navbar-expand-custom {
       -ms-flex-flow: row nowrap;
       flex-flow: row nowrap;
       -ms-flex-pack: start;
       justify-content: flex-start;
   }
   .navbar-expand-custom .navbar-nav {
       -ms-flex-direction: row;
       flex-direction: row;
   }
   .navbar-expand-custom .navbar-toggler {
       display: none;
   }
   .navbar-expand-custom .navbar-collapse {
       display: -ms-flexbox!important;
       display: flex!important;
       -ms-flex-preferred-size: auto;
       flex-basis: auto;
   }
 }
 .h2{
   font-size: small;
 }
 
 @media (max-width: 991px){
   #navbarSupportedContent ul li a{
     padding: 12px 30px;
   }
   .hori-selector{
     margin-top: 0px;
     margin-left: 10px;
     border-radius: 0;
     border-top-left-radius: 25px;
     border-bottom-left-radius: 25px;
   }
   .hori-selector .left,
   .hori-selector .right{
     right: 10px;
   }
   .hori-selector .left{
     top: -25px;
     left: auto;
   }
   .hori-selector .right{
     bottom: -25px;
   }
   .hori-selector .left:before{
     left: -25px;
     top: -25px;
   }
   .hori-selector .right:before{
     bottom: -25px;
     left: -25px;
   }
 }
  /* footer */
   footer{
    /* position: fixed; */
    background: rgb(0, 0, 0);
    height: fit-content;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  footer .content{
    font-family: 'Orbitron', sans-serif;
    letter-spacing: .1em;
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px 40px 40px;
  }
  footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .content .top .logo-details{
    color: #fff;
    font-size: 20px;
  }
  .content .top .media-icons{
    display: flex;
  }
  .content .top .media-icons a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    transition: all 0.4s ease;
  }
  .top .media-icons a:nth-child(1){
    background: #4267B2;
  }
  .top .media-icons a:nth-child(1):hover{
    color: #4267B2;
    background: #fff;
  }
  .top .media-icons a:nth-child(2){
    background: #1DA1F2;
  }
  .top .media-icons a:nth-child(2):hover{
    color: #1DA1F2;
    background: #fff;
  }
  .top .media-icons a:nth-child(3){
    background: #E1306C;
  }
  .top .media-icons a:nth-child(3):hover{
    color: #E1306C;
    background: #fff;
  }
  .top .media-icons a:nth-child(4){
    background: #0077B5;
  }
  .top .media-icons a:nth-child(4):hover{
    color: #0077B5;
    background: #fff;
  }
  .top .media-icons a:nth-child(5){
    background: #FF0000;
  }
  .top .media-icons a:nth-child(5):hover{
    color: #FF0000;
    background: #fff;
  }
  footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 5 - 10px);
  }
  .content .link-boxes .box .link_name{
    color: #fff;
    /* font-size: 18px; */
    font-size: 0.8em;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
  }
  .link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
  }
  .content .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
  }
  .content .link-boxes .box li a{
    color: #fff;
    /* font-size: 14px; */
    font-size: 0.6em;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
  }
  .content .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  footer .bottom-details{
    width: 100%;
  background: #2c303a;
  }
  footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
  }
  .bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .bottom-details .bottom_text a{
    margin-right: 10px;
  }
  @media (max-width: 900px) {
    footer .content .link-boxes{
      flex-wrap: wrap;
    }
    footer .content .link-boxes .input-box{
      width: 40%;
      margin-top: 10px;
    }
  }
  @media (max-width: 700px){
    footer{
      position: relative;
    }
    .content .top .logo-details{
      font-size: 26px;
    }
    .content .top .media-icons a{
      height: 35px;
      width: 35px;
      font-size: 14px;
      line-height: 35px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 3 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a{
      font-size: 12px;
    }
  }
  @media (max-width: 520px){
    footer::before{
      top: 145px;
    }
    footer .content .top{
      flex-direction: column;
    }
    .content .top .media-icons{
      margin-top: 16px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 2 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 100%;
    }
  }